<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">


 <servlet>
   <display-name>QpidTestServlet</display-name>
   <servlet-name>QpidTestServlet</servlet-name>
   <servlet-class>qpid.jca.example.web.ee5.QpidTestServlet</servlet-class>
   <init-param>
     <param-name>connectionFactory</param-name>
     <param-value>java:QpidJMSXA</param-value>
   </init-param>
   <init-param>
     <param-name>destination</param-name>
     <param-value>queue/Hello</param-value>
   </init-param>
   <load-on-startup>1</load-on-startup>
 </servlet>

 <servlet-mapping>
   <servlet-name>QpidTestServlet</servlet-name>
   <url-pattern>/qpid</url-pattern>
 </servlet-mapping>


</web-app>

